<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tipo Media</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            padding: 20px;
            width: 100%;
            max-width: 1200px;
        }

        .contenido header {
            background: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }

        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: #424874;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 2px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #D3D4DE;
            padding: 10px;
            text-align: center;
        }

        button {
            background-color: #424874;
            color: white;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            width: 120px;
        }
        .button i {
            margin-right: 10px;
        }

    </style>
</head>
<body>

<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin'"></i>Entidad 2 - Tipo Media</h1>
    </header>
    <h2>Listado</h2>
    <button class="button" onclick="window.location.href='/admin/tipoMedia/crear'"><i class="fas fa-plus"></i>Crear</button>
    <table>
        <thead>
        <tr>
            <th>Orden</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each tipoMedia}}
            <tr>
                <td>{{orden}}</td>
                <td>{{nombre}}</td>
                <td>
                    <div class="justify-content-left">
                        <form action="/admin/tipoMedia/delete/{{id}}" method="post" class="d-inline" onsubmit="event.preventDefault(); confirmDelete(this);">
                            <button type="submit" class="btn btn-link p-0 mr-2" style="color: red;">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                        <a href="/admin/tipoMedia/edit/{{id}}" class="btn btn-link p-0" style="color: #424874;">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal para mensajes -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="messageModalBody">
                <!-- Mensaje de éxito o error -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteConfirmed()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    let formToSubmit = null;

    function confirmDelete(form) {
        formToSubmit = form;
        $('#confirmDeleteModal').modal('show');
    }

    function deleteConfirmed() {
        if (formToSubmit) {
            formToSubmit.submit();
        }
    }

    function showMessage() {
        const urlParams = new URLSearchParams(window.location.search);
        const successMessage = urlParams.get('success');
        const errorMessage = urlParams.get('error');
        if (successMessage) {
            showModal('Listo', successMessage);
        } else if (errorMessage) {
            showModal('Error', errorMessage);
        }
    }

    function showModal(title, message) {
        const modalTitle = document.getElementById('messageModalLabel');
        const modalBody = document.getElementById('messageModalBody');
        modalTitle.innerText = title;
        modalBody.innerText = message;
        $('#messageModal').modal('show');
    }

    window.onload = showMessage;
</script>

</body>
</html>
