<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            padding: 20px;
            width: 100%;
            max-width: 600px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .contenido header {
            background: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: #424874;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #424874;
            color: white;
            cursor: pointer;
        }
        .checkbox-container {
            display: flex;
        }
        .checkbox-container input {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/media/listar'"></i>Crear Media</h1>
    </header>
    <form id="createTipoMediaForm" action="/admin/media/create" method="post" enctype="multipart/form-data">
        <label for="tipoMedia">Tipo Media</label>
        <select id="tipoMedia" name="tipoMedia">
            <option value="">Seleccione...</option>
            {{#each tipoMedia}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>

        <label for="imagen">SRC:</label>
        <input type="file" id="imagen" name="imagen">

        <label for="url">URL:</label>
        <input type="text" id="url" name="url">

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">

        <label for="integrante">Integrante:</label>
        <select id="integrante" name="integrante">
            <option value="">Seleccione...</option>
            {{#each integrantes}}
                <option value="{{id}}">{{nombre}} {{apellido}}</option>
            {{/each}}
        </select>

        <div class="checkbox-container">
            <input type="checkbox" id="activo" name="activo">
            <label for="activo">Activo</label>
        </div>
        <button type="submit">Crear</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de error -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectTipoMedia = document.getElementById("tipoMedia");
        const inputUrl = document.getElementById("url");
        const inputImagen = document.getElementById("imagen");

        function toggleCampos() {
            const tipoMediaSeleccionado = selectTipoMedia.value;
            if (tipoMediaSeleccionado === "2" || tipoMediaSeleccionado === "3") {
                inputUrl.disabled = true;
                inputImagen.disabled = false;
            } else if (tipoMediaSeleccionado === "1") {
                inputUrl.disabled = false;
                inputImagen.disabled = true;
            } else {
                inputUrl.disabled = false;
                inputImagen.disabled = false;
            }
        }

        selectTipoMedia.addEventListener("change", toggleCampos);
        toggleCampos();

        const errorMessages = new URLSearchParams(window.location.search).get('errors');
        if (errorMessages) {
            const errors = JSON.parse(decodeURIComponent(errorMessages));
            const modalBody = document.querySelector("#errorModal .modal-body");
            modalBody.innerHTML = "<ul>" + errors.map(err => `<li>${err}</li>`).join('') + "</ul>";
            $("#errorModal").modal("show");
        }
    });
</script>

</body>
</html>
