<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            padding: 20px;
            width: 100%;
            max-width: 600px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .contenido header {
            background: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }
        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: #424874;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button, select {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #424874;
            color: white;
            cursor: pointer;
        }
        .checkbox-container {
            display: flex;
        }
        .checkbox-container input {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin/media/listar'"></i>Editar Media</h1>
    </header>
    <form id="updateMediaForm" enctype="multipart/form-data">
     {{#each media}}
        <label for="id">ID</label>
        <input type="text" id="mediaId" name="id" placeholder="Id" value="{{id}}" disabled>

        <label for="orden">Orden</label>
        <input type="text" id="orden" name="orden" placeholder="Orden" value="{{orden}}" disabled>
    {{/each}}

        <label for="tipoMedia">Tipo Media</label>
        <select id="tipoMedia" name="tipoMedia">
            {{#each tipoMedia}}
                <option value="{{this.id}}" {{#if (eq this.id ../media.0.tipoMedia)}}selected{{/if}}>{{this.nombre}}</option>
            {{/each}}
        </select>

        {{#each media}}
            <label for="imagen">SRC:</label>
            <input type="file" id="imagen" name="imagen">

            <label for="url">URL:</label>
            <input type="text" id="url" name="url" value="{{url}}">

            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" value="{{titulo}}">
        {{/each}}
            <label for="integrante">Integrante:</label>
        <select id="integrante" name="integrante">
            <option>Seleccione...</option>
            {{#each integrantes}}
                <option value="{{matricula}}" {{#if (eq matricula ../integranteSeleccionado.matricula)}}selected{{/if}}>{{nombre}} {{apellido}}</option>
            {{/each}}
        </select>



        <div class="checkbox-container">
            {{#each media}}
            <input type="checkbox" id="activo" name="activo" value="{{activo}}" {{#if activo}}checked{{/if}} disabled>
            <label for="activo">Activo</label>
            {{/each}}
        </div>
        <button type="submit">Editar</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de error -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para mensajes de respuesta -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de respuesta -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#updateMediaForm').submit(function(event) {
        event.preventDefault();

        var formData = new FormData(this);
        var mediaId = $('#mediaId').val();

        var enlace = '/admin/media/update/' + mediaId;

        $.ajax({
            type: 'POST',
            url: enlace,
            data: formData,
            contentType: false,
            dataType: 'json',
            processData: false, // Agrega esto para evitar que jQuery procese los datos
            success: function(response) {
                if (response.success) {
                    $('#responseModalLabel').text('¡Listo!');
                    $('#responseModal .modal-body').text(response.message);
                    // Redirigir después de cerrar el modal
                    $('#responseModal').on('hidden.bs.modal', function () {
                        window.location.href = '/admin/media/listar';
                    });
                } else {
                    $('#responseModalLabel').text('Error');
                    $('#responseModal .modal-body').text('Ocurrió un error');
                }
                $('#responseModal').modal('show');
            },
            error: function(xhr) {
                var errorMessage = 'Ocurrió un error';
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    errorMessage = xhr.responseJSON.error;
                }
                $('#responseModal .modal-body').text(errorMessage);
                $('#responseModal').modal('show');
            }
        });
    });
    $('.close-modal').on('click', function () {
        if ($('#responseModalLabel').text() === '¡Listo!') {
            window.location.href = '/admin/media/listar';
        }
    });
</script>
</body>
</html>
