<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            padding: 50px;
        }
        .error {
            background-color: #f5d3d6;
            border: 1px solid #d32f2f;
            border-radius: 5px;
            padding: 20px;
            margin: 0 auto;
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="error">
    <p>La página que buscas no existe.</p>
</div>
</body>
</html>
